<br />
<img src="~/images/negado1.png" alt="Àrea de Administração" class="marginTop1" height="200" width="200" />
<div class="container">
    <div class="jumbotron">
        <p>
           <h2>Acesso não permitido</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>